<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Game</title>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>

    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            margin: 0;
        }

        .quiz-room {
            background-color: white;
            padding: 2rem;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
            width: 400px;
        }

        .room-title {
            text-align: center;
            color: #2c3e50;
            margin-bottom: 1.5rem;
        }

        .players-list {
            margin-bottom: 2rem;
        }

        .player {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0.8rem;
            margin: 0.5rem 0;
            background-color: #f8f9fa;
            border-radius: 5px;
        }

        .player.leader {
            background-color: #e3f2fd;
        }

        .player-name {
            font-weight: bold;
        }

        .player-status {
            font-size: 0.9em;
            color: #666;
        }

        .status-ready {
            color: #28a745;
        }

        .status-not-ready {
            color: #dc3545;
        }

        .controls {
            display: flex;
            justify-content: center;
            gap: 1rem;
        }

        button {
            padding: 0.8rem 1.5rem;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 1em;
            transition: opacity 0.3s;
        }

        button:hover {
            opacity: 0.8;
        }

        .ready-btn {
            background-color: #28a745;
            color: white;
        }

        .start-btn {
            background-color: #007bff;
            color: white;
        }

        .leader-badge {
            color: #ffd700;
            margin-left: 0.5rem;
        }
        .response {
            padding: 10px;
            border: 1px solid #ccc;
            transition: background-color 0.3s;
        }
        .response.correct {
            color: #4CAF50;
            
        }
    </style>
</head>



    {% if request.user.is_authenticated %}

    <div id="intro">
        <h2>Welcome to the Quiz Game</h2>

        <h3>Hi {{ request.user.username }}</h3>
    </div>
    <script>
            function roominfo(){
                return {
                    code: '',
                    currentView:'home',
                    leader: false,
                    players: [],
                    ready:false,
                    question:null,
                    init() {
                        window.roominfoComponent = this;
                    },
                    updatecode(code){
                        this.code = code
                    },
                    updatePlayers(players){
                        this.players = players
                        if(players){
                            for(let player of players){
                                if(player.user == '{{ request.user.username }}'){
                                    this.ready = player.ready 
                                }
                            }
                        }
                    },
                    updateLeader(leader){
                        console.log(leader)
                        if (leader == '{{ request.user.username }}'){
                            this.leader = true
                        }else{
                            this.leader = false
                        }
                    },
                    updatequestion(question){
                        this.question = question
                        
                    },
                    updateView(currentView){
                        this.currentView = currentView
                    }

                }
            }
    </script>

<div x-data="roominfo()">
<template x-if="currentView === 'home'">
    <div>
        <button class="btn btn-primary" onclick="createRoom()">Create Room</button>
        <label for="joinRoomCode">Join Room Code:</label>
        <input type="text" id="joinRoomCode">
        <button class="btn btn-primary" onclick="joinRoom()">Join Room</button>
        <div id="players"></div>
    </div>
  </template>

  <template x-if="currentView === 'lobby'">
    <div>
        <h1 class="room-title">Quiz Room (<span x-text="code"></span>) 🎮</h1>
        

        <template x-for="player in players">
            <div class="player"  x-bind:class="{'leader': player.leader}">
                <div>
                    <span class="player-name" x-text="player.user"></span>
                    <span class="leader-badge" x-text="player.leader ? '👑' : ''"></span>
                </div>
                
                    <span x-text="player.score"></span>
                

                    <span class="player-status" x-text="player.leader ? '' : (player.ready ? 'Ready' : 'Not Ready')" x-bind:class="player.ready ? 'status-ready' : 'status-not-ready'"></span>


                
            </div>
        </template>
        

    <div class="controls">
        <!-- Display Start button for leader -->
         <template x-if="leader">
            <button id="nextt" class="start-btn" onclick="startGame()">Start Game</button>
         </template>
         <template x-if="!leader && !ready">
            <button id="nextt" class="ready-btn" onclick="toggleReady()">I'm Ready!</button>
         </template>
         <template x-if="!leader && ready">
            <button class="ready-btn" style="background-color: #dc3545;" onclick="toggleReady()">cancel!</button>
         </template>
         <button class="btn" onclick="Senddisconnect()">disconnect</button>
        <!-- Display Ready button for non-leaders -->
        <!-- <button class="ready-btn">I'm Ready!</button> -->
    </div>
    </div>
  </template>

  <template x-if="currentView === 'game'">
    <div>
      
        <div class="progress-container">
            <span class="progress-text">
              Question <span x-text="currentQuestionIndex + 1"></span>/
              <span x-text="10"></span>
            </span>
            <div class="progress-bar">
              <div class="progress-fill" 
                   :style="`width: ${progressPercentage}%`"></div>
            </div>
          </div>

          <h2 x-text="question.text" class="question-text"></h2>


          <div class="choices-container">
            <template x-for="(choice, index) in currentQuestion.choices" :key="index">
              <label class="choice-label"
                     :class="{
                       'correct-answer': showResults && choice.correct,
                       'incorrect-answer': showResults && selectedAnswer === index && !choice.correct
                     }">
                <input type="radio"
                       name="qcmChoice"
                       class="choice-input"
                       :value="index"
                       x-model="selectedAnswer"
                       :disabled="showResults">
                <div class="choice-indicator"
                     :class="{ 'selected-choice': selectedAnswer === index }">
                  <span x-text="String.fromCharCode(65 + index)"></span>
                </div>
                <span x-text="choice.text" class="choice-text"></span>
              </label>
            </template>
          </div>


          <button class="submit-btn"
              @click="handleSubmission"
              :disabled="!isAnswerSelected">
        <span x-text="buttonLabel"></span>
      </button>



      <div class="result-container" x-show="showFinalScreen">
        <h3 class="result-title">Quiz Complete!</h3>
        <p class="score-display">
          Score: <span x-text="userScore"></span>/<span x-text="totalQuestions"></span>
        </p>
        <button class="restart-btn" @click="resetQuiz">
          Try Again ↻
        </button>
      </div>




    </div>
  </template>


</div>

    


    

    <!-- this the expirimentall response window -->
    <div class="quiz-room1" id="answer-room" style="display: none;">
        <p>this is a test </p>
        <template x-if="question !== null" >
            <div>
            <h1 class="room-title" x-text="question.text"></h1>
        <p>this is a test 2</p>
        
            
        <p>this is a test 2</p>
        <div class="responses">
            <template x-for="(response, index) in question.options" :key="index">
                <div 
                    class="response" 
                    :class="{ correct: index === question.correct_answer }"
                    x-text="response"
                ></div>
            </template>
        </div>
        <p>this is a test 2</p>

        
        <p>this is a test 2</p>
        <button class="start-btn" id='next-question' onclick="nextQuestion()">Snext question</button>
    </div>
    </template>
    </div>
</div>
    
    <script>
     

        function connectWebSocket() {
            socket = new WebSocket('ws://' + window.location.host + '/ws/game/');
        
            socket.onopen = function () {
            };

            socket.onmessage = function (e) {
                const data = JSON.parse(e.data);
                console.log(data)
                
                leader=data.info.leader;
                players=data.info.players;
                //console.log(roomCode,leader,players)
                switch (data.type) {
    case 'room_created':
        roomCode=data.info.code;
        
        roomcreated(roomCode, players, leader);
        break;

    case 'player_status':
        window.roominfoComponent.updatePlayers(players);
        break;

    case 'new_question':
        console.log(data.info.question.text);
        window.roominfoComponent.updatequestion(data.info.question);
        console.log("step 1");
        showQuestion(data.info.question);
        document.getElementById('next_button').style.display = 'block';
        break;

    case 'player_joined':
        roomCode=data.info.code;
        console.log('player has joined');
        roomcreated(roomCode, players,leader);
        break;

    case 'player_left':
        players1 = data.players;
        window.roominfoComponent.updatePlayers(players1);
        window.roominfoComponent.updateLeader(data.leader);
        break;

    case 'update_scores':
        roomCode=data.type.info.code;
        console.log("step 3", data.players);
        
        roomcreated(roomCode, players,leader);
        break;

    case 'player_disconnected':
        disconnect();
        //window.roominfoComponent.updatePlayers(data.players);
        break;

    case 'answer_recieved':
        toggleDone(players);
        console.log("step 2");
        
        break;
    case 'scores':
        roomCode=data.type.info.code;
        // this is supposed to be that window that shows the answers instead
        window.roominfoComponent.updatequestion(data.type.info.question);
        console.log(window.roominfoComponent.question)
        
        
        showScore(players);
        //showscores(roomCode, players,leader)
        
        break;                
    default:
        console.warn(`Unknown message type: ${data}`);
        break;
}
            };
        } 

        connectWebSocket()
        function toggleDone(players){
            us='{{ request.user.username }}';
            const player = players.find(player => player.user === us)
            console.log(player.answered,'thiiiis')
            if(player.answered){
                
                document.getElementById('next_button').style.display='none'; 
            };
        }
        function nextQuestion(){
            
            //console.log(i)
           // submitAnswer()
            const command = { 
                command: 'next' 
                
            };
            socket.send(JSON.stringify(command));
        }
        function Senddisconnect(){
            
            const command = { command: 'leave' };
            socket.send(JSON.stringify(command));
            

        }
        function disconnect(){
            viewLobby()
            //connectWebSocket();
        }

        function createRoom() {
            const command = { command: 'create' };
            socket.send(JSON.stringify(command));
        }
        function showScore(players){
            console.log('herer 22')
            window.roominfoComponent.updatePlayers(players)
            viewAnswer()
            
        }
        

        function joinRoom() {
            const joinRoomCode = document.getElementById('joinRoomCode').value.toUpperCase();
            const command = { command: 'join', room_code: joinRoomCode };
            socket.send(JSON.stringify(command));
        }

        function toggleReady() {
            const command = { command: 'ready' };
            socket.send(JSON.stringify(command));
           // playerReady = !playerReady;
        }

        function startGame() {
            console.log('the button was hit')
            const command = { command: 'start' };
            socket.send(JSON.stringify(command));
        }

        function submitAnswer() {
            const selectedOption = document.querySelector('input[name="answer"]:checked');
            if (!selectedOption) {
                alert("Please select an answer.");
                return;
            }

            const command = {
                command: 'answer',
                answer: parseInt(selectedOption.value)
            };
            socket.send(JSON.stringify(command));
        }

        function showscores(roomCode , players , leader){
            // redo this logic ................................................
            window.roominfoComponent.updatePlayers(players)
            document.getElementById('game').style.display = 'none';
            document.getElementById('quiz-room').style.display = 'block';
            document.getElementById('nextt').style.display = 'none';
            window.roominfoComponent.updatecode(roomCode)
            window.roominfoComponent.updatePlayers(players)
            window.roominfoComponent.updateLeader(leader)
 
        }

        function showQuestion(question) {
            gameStarted = true;
            viewGame()
            //document.getElementById('submit_button').style.display='block';
            const questionDiv = document.getElementById('question');
            questionDiv.innerText = question.text;

            const optionsDiv = document.getElementById('options1');
            optionsDiv.innerHTML = '';
            question.options.forEach((option, index) => {
                const optionLabel = document.createElement('label');
                optionLabel.innerHTML = `
                    <input type="radio" name="answer" value="${index}">
                    ${option}
                `;
                optionsDiv.appendChild(optionLabel);
            });
        }


        function viewLobby(){
            document.getElementById('quiz-room').style.display = 'none';
            document.getElementById('game').style.display = 'none';
            document.getElementById('answer-room').style.display = 'none';
            document.getElementById('lobby').style.display = 'block';
        }
        function viewQuizRoom(){
            document.getElementById('game').style.display = 'none';
            document.getElementById('answer-room').style.display = 'none';
            document.getElementById('lobby').style.display = 'none';
            document.getElementById('quiz-room').style.display = 'block';
        }
        function viewGame(){
            document.getElementById('quiz-room').style.display = 'none';
            document.getElementById('answer-room').style.display = 'none';
            document.getElementById('lobby').style.display = 'none';
            document.getElementById('game').style.display = 'block';
        }
        function viewAnswer(){
            document.getElementById('quiz-room').style.display = 'none';
            document.getElementById('game').style.display = 'none';
            document.getElementById('lobby').style.display = 'none';
            document.getElementById('answer-room').style.display = 'block';
        }

        // imad suggested

        function roomcreated(roomCode , players , leader) {
            currentView = 'lobby';
            window.roominfoComponent.updateView(currentView)
            window.roominfoComponent.updatecode(roomCode)
            window.roominfoComponent.updatePlayers(players)
            window.roominfoComponent.updateLeader(leader)
            //print('room creation finished')
            
        }

    </script>
    {% else %}
    <h1>You are not authenticated</h1>
    <a href="{% url 'login' %}">Login</a>
    <a href="{% url 'register' %}">Register</a>
    {% endif %}
</body>
</html>
